.commodity_category {
    top: 25%;
    margin: 0px auto;
    padding: 1%;
    position: fixed;
    right: 2%;
    width: 10%;
    height: 60%;
    background-color: ghostwhite;
    box-shadow: grey 0 0 10px;
    overflow: auto;
    /*display: none;*/
    animation: rightleft 0.7s ease-in-out;
}

.commodity_category a{
    text-decoration: none;
    color: inherit;
}
.commodity_category ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.commodity_category li {
    border-left: lightseagreen 1px solid;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.commodity_category li:hover {
    background-color: lightblue;
    transition: 0.3s;
}

#sort {
    float: right;
    padding: 1%;
    font-size: 18px;
    border: solid darkslategray 3px;
    margin-top: 2%;
    border-radius: 5px;
}

.comotitle h1 {
    font-size: 60px;
    border-left: solid rgb(93, 156, 156) 10px;
    margin-bottom: 5%;
    margin-left: 3%;
    padding-left: 3%;
}

.commodity_1 {
    /*border-radius: 10px;*/
    float: left;
    width: 320px;
    height: 430px;
    /*background-color: rgb(179, 215, 216);*/
    background-color: rgba(231, 252, 253, 0.685);
    margin: 2%;
    position: relative;
    box-shadow: 0 0 10px gray;
    padding: 1%;
}

.cobut {
    background-color: none;
    border: rgb(255, 255, 255) solid 2px;
    width: 40%;
    margin: 0 auto;
    font-size: 18px;
    padding: 2%;
    left: 25%;
    position: absolute;
    text-align: center;
    display: none;
}

.cobut:hover {
    background-color: turquoise;
}

.buy {
    top: 20%;
}

.detail {
    top: 35%;
}

.commodity_1:hover {
    background-color: rgb(135, 212, 214);
    transition: 0.3s ease-in-out;
    color: white;
}

.commodity_1:hover .putimgin img {

    filter: brightness(.5);
    height: 130%;
    transition: 0.3s ease-in-out;
}

.commodity_1:hover .cobut {
    display: block;
    transition: 0.5s;
}

.commodity_1 a {
    text-decoration: none;
    color: inherit;
}

.tocart {
    width: 25%;
    border: none;
    background-color: lightseagreen;
    font-size: 30px;
    margin: 2%;
    /*border-radius: 10px;*/
    position: absolute;
    bottom: 5%;
    right: 5%;
}
.tocart:hover{
    background-color: rgb(178, 226, 228);
    border-radius: 10px;
    transition: 0.3s;
    box-shadow: 0 0 10px rgb(0, 255, 255);
    cursor: pointer;
}
.commoditytext {
    float: left;
    width: 60%;
    height: 100%;
    padding: 4%;
    margin-left: 3%;
    margin-bottom: 3%;
    font-size: 20px;
}

.commoditytext h2 {
    /*title*/
    font-size: 35px;
    padding: 3%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 150%;
    /*background-color: blanchedalmond;*/
}
.commoditytext p {
    float: left;
    margin: 0;
    padding: 1%;
}

.commoditytext h3 {
    /*price*/
    font-size: 40px;
    margin: 0;
    padding: 0;
    
    margin-left: 3%;
}

.chara {
    /*characteristic*/
    border-radius: 20%;
    background-color: gainsboro;
    width: 50px;
    font-size: 18px;
    padding: 5%;
}

.putimgin {
    float: left;
    margin: 0 auto;
    padding: 0%;
    width: 100%;
    height: 60%;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    /*
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;*/
    /*border-radius: 10px;*/
}
.commodity_1:hover .putimgin img{
    padding-left: 0%;
    transition: 0;
}
.putimgin img {
    height: 100%;
    padding-left: 10%;
}
.putimgin:hover img {

    filter: brightness(.5);
    height: 130%;
    transition: 0.3s ease-in-out;
}

.putcommodity {
    /*灰框*/
    margin-left: 15%;
    width: 70%;
    height: auto;
    /*background-color: lightslategrey;*/
    padding: 1%;
    animation: opacity 0.5s ease-in-out;
    margin-bottom: 15%;
}

.comotitle {
    width: 65%;
    margin-left: 15%;

}

.catecheck {
    float: left;
    margin-left: 3%;
}