.personal_content{
    top: 16%;
    width: 70%;
    height:1200px;
    /*background-color: gray;*/
    margin: 0 auto;
    z-index: 1;
    position: relative;
}
.show {
    display: block !important;
}
.bigtitle{
    padding: 0px;
    margin: 0px auto;
    font-size: 70px;
    margin-bottom:5%;
    margin-left: 3%;
    padding-left: 3%;
    border-left: solid darkslategray 10px;
    top: 250px;
    position: absolute;
    left: -10%;
}
.acti1{
    padding: 1%;
    transition: 0.3s;
    background-color: white;
    color: rgb(0, 151, 139);
}
.subtitle{
    padding: 0px;
    margin: 0 auto;
    margin-bottom: 2%;
    font-size: 60px;
    margin-left: 5%;
    margin-top: 2%;
}
.myinforimg{
    float: left;
    width: 35% ;
    height: 67%;
    background-color: rgb(202, 202, 202);
    overflow: hidden;
    border-radius: 10px;
    margin-left: 5%;
    margin-top: 6%;
    box-shadow: gray 0 0 10px;

}
.myinfortext{    
    float: left;
    margin-left: 5%;
    width: 55%;
    height: 75%;
    margin-top: 7%;
    /*background-color: hotpink;*/

}
.myinfortext p{
    margin: 2%;
    float: left;
    width: 70%;
    height:35px;
    /*background-color: rgb(255, 241, 255);*/
    font-size: 25px;
    border-radius: 5px;    
    padding-bottom: 1%;
    padding-top: 1%;
}
.myinfortext div{
    width: 17%;    
    float: left;
    /*background-color: indianred;*/
    border-right:solid 3px darkslategrey;
    margin: 2%;
    font-weight: bold;
    padding-bottom: 1%;
}
.inforinput{    
    margin: 2%;
    width: 70%;
    float: left;
    border-radius: 5px;
    height: 33px;
    font-size: 20px;
}
.butchange{
    margin: 0 auto;
    width: 75%;
    padding: 1%;
    border-radius: 10px;
    border: none;
    background-color: rgba(95, 158, 160, 0.664);
    font-size: 25px;
    margin-left: 20%;
    height: 50px;
    margin-top: 5%;
    margin-bottom: 3%;
}
.butchange:hover{
    background-color: rgba(78, 129, 131, 0.664);
}
.inforframe{
    animation: opacity 0.4s ease-in-out;
    display:none;
    position: absolute;
    top: 380px;
    width: 72%;
    height:55% ;
    padding: 4%;
    background-color: rgb(240, 240, 240);
    float: left;
    font-size: 25px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}
.inforbutlist{
    position: absolute;
    top: 380px;
    right: 0;
    width: 12%;
    height: 55%;
    padding: 4%;
    background-color: rgb(90, 179, 164);
    float: left;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.inforbutlist ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    padding-top: 20%;
    font-size: 25px;
}
.inforbutlist li{
    border-left: rgb(210, 255, 232) 2px solid;
    margin-top:10%;
    padding: 10px;
    padding-left: 10%;    
    background-color: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
    cursor:pointer;

}
.inforbut:hover {
    transition: 0.3s;
    color: rgb(72, 122, 126);
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}
.setshowframe{
    margin-left: 5%;
    width: 90%;
    height: 80%;
    background-color: cadetblue;
    overflow-y: scroll;
    border-radius: 10px;
}
