
.c2 span {
    color: #000;
    background: #fff;
    position: absolute;
    left: 0%;
    top: 50%;
    width: 400px;
    height: 80px;
    font-size: 30px;
    text-align: center;
    line-height: 100px;
    -webkit-transform:scaleY(0);
    -ms-transform:scaleY(0);
    transform:scaleY(0);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    opacity:0.8;
}
.c3 span {
    color: #000;
    background: #fff;
    position: absolute;
    left: 25%;
    top: 50%;
    width: 400px;
    height: 80px;
    font-size: 30px;
    text-align: center;
    line-height: 100px;
    -webkit-transform:scaleY(0);
    -ms-transform:scaleY(0);
    transform:scaleY(0);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    opacity:0.8;
}
.c4 span {
    color: #000;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 400px;
    height: 80px;
    font-size: 30px;
    text-align: center;
    line-height: 100px;
    -webkit-transform:scaleY(0);
    -ms-transform:scaleY(0);
    transform:scaleY(0);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    opacity:0.8;
}
    
.c2:hover span {
    width: 30%;
    -webkit-transform:scaleY(1);
    -ms-transform:scaleY(1);
    transform:scaleY(1);
}
.c3:hover span {
    width: 30%;
    -webkit-transform:scaleY(1);
    -ms-transform:scaleY(1);
    transform:scaleY(1);
}
.c4:hover span {
    width: 30%;
    -webkit-transform:scaleY(1);
    -ms-transform:scaleY(1);
    transform:scaleY(1);
}

#advertising{
    position: relative;
    width: 600px;
    height: 400px;
    margin: 30px auto;
    background-color: rgb(240, 223, 223);
    border: 15px solid rgb(141, 117, 117);
    border-bottom: 50px solid rgb(141, 117, 117);
    box-shadow: 5px 0 10px rgba(23, 23, 54, 0.6);
    overflow: hidden;
    border-radius: 1%;
}
   
#advertising .parent{
    position: absolute;
    width: 2000px; /*整個圖片層長度：500*5=2500*/
    height: 500px;
    }
   
#advertising .parent li{
    float: left;
    width: 500px;
    height: 85%;
    }
   
#advertising .parent li img{
    width: 100%;
    height: 80%;
}

#advertising .btnLeft,  .btnRight{
     width: 30px;
      height: 30px;
      background-color: #f8f8f8;
      opacity: 80%;
      position: absolute; /*包含塊為圖片顯示層container*/
      right: 100px;
      bottom: 5px;
      font-size: 20px;
      color: rgb(119, 155, 118);
      font-weight: bolder;
      text-align: center;
      line-height: 30px;
    padding: 30% 0px;
}
#advertising .btnLeft{
    left: 0%;
}
#advertising .btnRight{
    right:0;
}
   
#advertising .btnLeft:hover,.btnRight:hover{
    opacity: 90%;
    cursor: pointer;
}

#advertising .modal{
    width: 100%;
    height: 40px;
    background: rgba(0,.3);
    position: absolute;
    left: 0;
    bottom: 0;
    line-height: 40px;
    padding: 0 40px;
    box-sizing: border-box;
}
#advertising .modal .title{
    float: left;
    color: #fff;
    font-size: 12px;
} 
#advertising .modal .dots{
    float: right;
    position: absolute;
    bottom: 10px;
    left: 340px;
    display:none;
}
#advertising .modal .dots li{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    float: left;
    margin: 0 5px;
    cursor: pointer;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}


.mar{
    background-color: rgb(138, 170, 144);
    color: white;
    opacity:0.8;
    font-style: italic;
    box-shadow: 5px 0 5px rgba(23, 23, 54, 0.6);
}

.recommended{
    width: 55%;
    height: 300px;
    border: 10px solid rgb(141, 117, 117);
    border-top: 50px solid rgb(141, 117, 117);
    background-color: rgb(247, 238, 238);
    margin: 20px 20%;
    box-shadow: 5px 0 10px rgba(23, 23, 54, 0.6);
    position: relative;
    border-radius: 1%;
}
.re_a{
    position: relative;
    top: 55px;
    left: 70%;
    z-index: 10;
    background-color: rgb(141, 117, 117);
    color: white;
    padding: 10px;
    font-size: 20px;
    text-decoration:none;
    text-shadow: 3px 2px 2px  rgb(221, 221, 221)
}
.re_title{
    position: relative;
    top: -80px;
    left: 45%;
    color: white;
    font-size: 32px;
}

.goods1, .goods2 ,.goods3{
    width: 200px;
    height: 200px;
    background-color: rgb(227, 241, 233);
    border: 10px solid rgb(187, 230, 212);
    border-bottom: 50px solid rgb(187, 230, 212);
    border-radius: 1%;
    margin:  -10% 4%;
    box-shadow: 5px 0 10px rgba(23, 23, 54, 0.6);
    position: absolute;
    overflow: hidden;
}
.goods2{
    left: 33%;
}
.goods3{
    left: 66%;
}

.recommended img { 
    width: 250px; 
    height: 170px; 
    position: absolute; 
    top: 0; 
    left: 0; 
    transition: all 1.5s; 
} 
.recommended img:first-child {
     z-index: 1; 
     backface-visibility: hidden; 
    }

.goods1:hover img, .goods2:hover img { 
    transform: rotateY(180deg); 
}
